<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kruscaloracle.dao.EdataMapper">
    <select id="listEdata" resultType="com.example.kruscaloracle.pojo.Edata">
        select * from  EDATA
    </select>
</mapper>